h1{
  text-align: center;
}

p{
  text-align: center;
  font-size: 1.2rem;
}

.applebtn{
  position: absolute;
  top: 6.5rem;
  margin-left: 34rem;
}

.bananabtn{
  position: absolute;
  top: 9rem;
  margin-left: 34rem;
}

.orangebtn{
  position: absolute;
  top: 11.5rem;
  margin-left: 34rem;
}

.grapesbtn{
  position: absolute;
  top: 14rem;
  margin-left: 34rem;
}

.strawberrybtn{
  position: absolute;
  top: 16.7rem;
  margin-left: 34rem;
}